.reveal {

    pre[class*="language-"] {
        width: 100%;
        box-sizing: border-box;
        font-size: 0.6em;
        &:not(.line-numbers) {
            padding: 0.5em;
        }
        code {
            padding: 0;
        }
        .line-highlight {
            margin-top: 10px;
        }
        &.line-numbers {
            .line-highlight {
                margin-top: 15px;
            }
        }
    }

    .slides {
        & > section {
            & > section {
                width: 60%;
                left: 20%;
                &.fullwidth {
                    width: 95%;
                    left: 5%;
                }
            }
        }
    }

    .gcc-console {
        padding: 0.5em;
        text-align: left;
        font-size: 0.8em;
        color: black;
        background-color: #f8d7da;
        border: 1px solid #f5c6cb;

        &:has(.gcc-warning) {
            background-color: #fff3cd;
            border: 1px solid #ffeeba;
        }

        > .gcc-warning, .gcc-error {
            &:before {
                font-weight: bold;
                padding: 1em 0.5em 1em 0;
            }
        }

        > .gcc-warning {
            &:before {
                content: "⚠️";
                color: #856404;
            }
        }

        > .gcc-error {
            &:before {
                content: "❌";
                color: #721c24;
            }
        }
    }

    a[href^="https://www.youtube.com"]::before {
        content: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22external-icon%22%20viewBox%3D%220%200%2028.57%20%2020%22%20focusable%3D%22false%22%20style%3D%22pointer-events%3A%20none%3B%20display%3A%20block%3B%20width%3A%20100%25%3B%20height%3A%20100%25%3B%22%3E%3Csvg%20viewBox%3D%220%200%2028.57%2020%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%3E%3Cpath%20d%3D%22M27.9727%203.12324C27.6435%201.89323%2026.6768%200.926623%2025.4468%200.597366C23.2197%202.24288e-07%2014.285%200%2014.285%200C14.285%200%205.35042%202.24288e-07%203.12323%200.597366C1.89323%200.926623%200.926623%201.89323%200.597366%203.12324C2.24288e-07%205.35042%200%2010%200%2010C0%2010%202.24288e-07%2014.6496%200.597366%2016.8768C0.926623%2018.1068%201.89323%2019.0734%203.12323%2019.4026C5.35042%2020%2014.285%2020%2014.285%2020C14.285%2020%2023.2197%2020%2025.4468%2019.4026C26.6768%2019.0734%2027.6435%2018.1068%2027.9727%2016.8768C28.5701%2014.6496%2028.5701%2010%2028.5701%2010C28.5701%2010%2028.5677%205.35042%2027.9727%203.12324Z%22%20fill%3D%22%23FF0000%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M11.4253%2014.2854L18.8477%2010.0004L11.4253%205.71533V14.2854Z%22%20fill%3D%22white%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E%3C%2Fsvg%3E);
        display: inline-block;
        width: 1em;
        margin: 0 0.2em;
    }

}
